.infoBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 1.5rem;
    padding: 0 1rem;
    background-color: rgb(25, 118, 210);
}

.infoBar__openFileName, .infoBar__currentDate {
    font-size: 1rem;
    font-weight: 600;
    color: white;
}

.infoBar__openFileName {
    display: flex;
    flex-direction: row;
    align-items: center;
}