.header {
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 2.35rem;
  background-color: rgb(25, 118, 210);
  padding: 0 1rem;
}

.header__leftSide {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__rightSide {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__title {
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
}

.header__editButton,
.header__saveButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.2rem 0.4rem;
}

.header__editButton span,
.header__saveButton span {
  margin-left: 0.2rem;
  color: white;
  
}

.header__editButton {
  margin-left: 0.3rem;
}

.header__editButton__disabled,
.header__saveButton__disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #a6a6a6;
  border-radius: 0.5rem;
  padding: 0.2rem 0.4rem;
  cursor: default;
  margin-left: 0.2rem;
  color: #a6a6a6;
  margin-left: 0.3rem;
}
